{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .container{
    width: 1500px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}
.container .card{
  position: relative;
  cursor: pointer;

}
.container .card .face{
  width: 250px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.container .card:hover .face.face1{
  background: #cdd4cf;
  transform: translateY(0);
}
.container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  background-color: black;
}
.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}
.container .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content img{
  max-width: 200px;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid #333;
}
.container .card .face.face2 .content a:hover{
  background: rgb(255, 255, 255);
  color: #fff;
}
</style>
{% endblock stylesheets %}
{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                       
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="{{ ASSETS_ROOT }}/images/hoome.jpg" alt="profile image" height="500px" width="3000px">
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <center>
    <div class="page-wrapper">
    <div class="row">
        <div class="col-sm-8">
    <div class="container">
        <div class="card">
           <div class="face face1">
              <div class="content">
                 <img src="{{ ASSETS_ROOT }}/images/uao.jpeg">
              </div>
           </div>
           <div class="face face2">
              <div class="content">
                 <p style="color:rgb(255, 255, 255);">LipNet AI takes lip reading into the future</p>
                 <a href="cs.ox.ac.uk/news/1217-full.html">Read More</a>
              </div>
           </div>
        </div>
        <br>
        <div class="card">
           <div class="face face1">
              <div class="content">
                 <img src="{{ ASSETS_ROOT }}/images/ss.jpeg">
              </div>
           </div>
           <div class="face face2">
              <div class="content">
                 <p style="color:rgb(255, 255, 255);">LipNet maps video to text using convolutions and recurrent networks, trained end-to-end for variable-length sequences.</p>
                 <a href="https://www.semanticscholar.org/paper/LipNet%3A-End-to-End-Sentence-level-Lipreading-Assael-Shillingford/291c0e453503a704c0fd932a067ca054cc7edad6">Read More</a>
              </div>
           </div>
        </div>
        <br>
          <div class="card">
           <div class="face face1">
              <div class="content">
                 <img src="{{ ASSETS_ROOT }}/images/bbc.jpeg">
              </div>
           </div>
           <div class="face face2">
              <div class="content">
                 <p style="color:rgb(255, 255, 255);">Scientists at Oxford say they've invented an artificial intelligence system that can lip-read better than humans.</p>
                 <a href="https://www.bbc.com/news/technology-39298199">Read More</a>
              </div>
           </div>
          </div>
        <br>
        <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ ASSETS_ROOT }}/images/hindu.jpeg">
             </div>
          </div>
          <br>
          <div class="face face2">
             <div class="content">
                <p style="color:rgb(255, 255, 255);">Watch your mouth; tech giants such as Amazon, Sony and Google are leveraging Artificial Intelligence to build powerful lipreading technologies which are amassing concerns around privacy and Big Brother-esque surveillance</p>
                <a href="https://www.thehindu.com/sci-tech/technology/lipreading-tech-explained-privacy-surveillance-artificial-intelligence/article35604403.ece">Read More</a>
             </div>
          </div>
       </div>
       </div>
       
      </div>
      </div>
      </div>
   </div>
      </center>
    
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
{% endblock javascripts %}
